
.wrapper {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: space-between;
  text-align: center;

  // height: 300px;
  // width: 400px;

}

H1 {
  text-align: center;
}

ion-col {
  text-align: center;
}

.grid-top {
  margin-top: 30px;
}

.toolbar-wallet {
  padding-right: 20px;
}
